@mixin match-color-to-num() {
  $numColorsMap: (
    1: #4d8bbf,
    2: #3f924f,
    3: #bb3e51,
    4: #5f2a7e,
    5: #f2e640,
    6: #19214d,
    7: #6bc144,
    8: #a86c38
  );
  @each $key, $value in $numColorsMap {
    [data-num-adj-mines="#{$key}"] {
      color: $value;
    }
  }
}

.minesweeper {
  position: relative;
  transform: translateX(-120px);
  width: fit-content;
  height: fit-content;
  margin: 0px;

  .game-board {
    display: flex;
    flex-direction: column;
    margin: 0px;
    background: #ccc;
    border: 5px ridge #ddd;

    &__instructions {
      &--tooltip {
        position: absolute;
        // display: none;
        top: -53px;
        right: -38px;
        background: #ccc;
        border: 5px ridge #ddd;
        
        &::after {
          content: "";
          position: absolute;
          bottom: -12px;
          left: calc(50% - 8px);
          transform: rotate(45deg);
          width: 8px;
          height: 8px;
          background: #ccc;
          border: 5px ridge;
          border-color: transparent #ddd #ddd transparent;
        }
      }
      
      &--tooltip-text {
          position: relative;
          z-index: 10;
          top: 0px;
          font-size: 14px;
          font-weight: normal;
          text-align: center;
          line-height: 15px;
          margin: 0;
          padding-top: 2px;
          max-width: 85px;
          background: #ccc;
      }

      &_details-panel {
        display: none;
        position: absolute;
        top: 0px;
        right: -240px;
        width: 240px;
        user-select: none;
        box-sizing: border-box;
        height: 100%;
        background: #ccc;
        border: 5px ridge #ddd;
        border-left-width: 0px;
    
        &--title {
          margin: 2px 0 0 0;
          font-size: 1.15em;
          text-align: center;
        }
    
        &--subtitle {
          transform: translateY(-3px);
          margin: 0;
          font-size: 0.8em;
          font-style: italic;
          text-align: center;
        }
    
        &--footer {
          position: absolute;
          display: none;
          bottom: 0px;
          z-index: 10;
          width: 100%;
          font-size: 1em;
          text-align: center;
          margin: 0 0 6px 0;
        }
    
        &__section {
          position: relative;
          width: calc(100% - 12px);
          margin-top: 6px;
          padding-left: 6px;
          
          &:hover {
            cursor: pointer;
          }
    
          &_section-header {
            z-index: 10;
            font-size: 1em;
            font-weight: normal;
            margin: 0;
          }
    
          &_section-text {
            position: absolute;
            display: none;
            z-index: 100;
            width: calc(100%);
            margin: 0;
            font-size: 0.8em;
            background: #ccc;
            // background: grey;
    
            &--unordered-list {
              margin: 0px;
              padding-left: 12px;
              list-style-type: circle;
            }
    
            &--list-item {
              position: relative;
              left: -6px;
            }
    
            &--double-click-details {
              font-size: 12px;
              font-style: italic;
              line-height: 12px;
              text-indent: 12px;
              margin: 8px 0 0 8px;
            }
    
            &--underlined {
              text-decoration: underline;
            }
          }      
        }
      }
    }
    
    &__header-row {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      min-height: 6px;
      
      &:first-of-type {
        min-height: 5px;
      }

      &_instructions-icon {
        position: absolute;
        top: 0px;
        right: 0px;
        opacity: 30%;
        height: 0px;
        width: 0px;
        border: none;
        background: transparent;
        padding: 0px;
        border-top: 20px solid #000;
        border-left: 20px solid transparent;
        
        &:hover {
          opacity: 40%;
        }
      }

      &_button {
        background: #ddd;
        border: 3px outset #fff;
        margin: 3px;
        text-align: center;
        padding: 0px;
        z-index: 110;

        &--difficulty-button {
          min-width: 70px;
          margin-bottom: 0px;
        }

        &--reset-button {
          width: 24px;
          // padding: 3px;
          // font-size: 16px;
        }

        &--button-label {
          margin: 3px;
          font-size: 16px;
          font-weight: 600;
          pointer-events: none;
        }

        &:hover {
          background: #eee;
        }
        &:active {
          background: #ccc;
          border-style: inset;
        }
      }

      &_counter-box {
        background: #000;
        border: 3px inset #fff;
        width: 85px;
        margin: 3px;
      }

      &_counter-box-nums {
        color: #f00;
        font-size: 16px;
        margin: 4px 3px 3px 3px;
        text-align: center;
        line-height: 18px;
      }

      &--reset-face {
        transform: translateY(-2px);
        height: 24px;
        pointer-events: none;
        font-size: 18px;
      }

      &--you-suck {
        text-transform: capitalize;
        font-size: 18px;
        line-height: 19px;
      }
    }

    &__header-row > * {
      box-sizing: content-box;
      height: 24px;
    }

    &__grid-area {
      position: relative;
      display: grid;
      gap: 2px;
      padding: 2px;

      @include match-color-to-num();

      &_tile {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 28px;
        box-sizing: border-box;
        border: 4px outset #fff;
        background: #ddd;

        &--revealed {
          transition: 250ms;
          background: #ccc;
          border: 4px solid #bbb;
        }

        p {
          pointer-events: none;
          user-select: none;
          margin: 0px;
        }

        &--is-mine-adjacent {
          transform: translateY(1px);
          font-weight: 900;
          font-size: 24px;
        }

        &--is-flagged {
          transform: translateY(-3px);
          font-size: 15px;
        }

        &--is-mine {
          transform: translateY(-1px);
          font-size: 14px;
        }
      }

      &_tile:not(&_tile--revealed):hover {
        background: #eee;
      }

      &_tile:not(&_tile--revealed):active {
        background: #ccc;
        border-style: inset;
      }

      &_end-game-text {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        white-space: nowrap;
        margin: 0px;
        font-size: 42px;
        text-transform: uppercase;
        text-shadow:
          -1px 1px 0 #000,
          1px 1px 0 #000,
          1px -1px 0 #000,
          -1px -1px 0 #000;

        &--loser-text {
          color: red;
        }

        &--winner-text {
          color: gold;
        }
      }
    }
  }
  
  &--element-is-visible {
    display: block !important;
  }
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0px;
  font-family: arial, Times, serif;
  background: linear-gradient(to right, hsl(200, 100%, 50%), hsl(175, 100%, 50%));
}